@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold');

#hero {
    width: 100%;
    height: calc(100% - 100px);
    /* background: linear-gradient(180deg, #426DC4 0%, rgba(51, 139, 223, 0) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content-container {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: -5%;
}

#hero-call-to-action-container {
    margin-left: 5%;
}

#hero-call-to-action-container p {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    color: #1F232B;
    line-height: 110%;
    font-size: 54;
    font-weight: bold;
    margin-top: auto;
}

#hero-call-to-action-container a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    border: 3px solid #1F232B;
    color: #1F232B;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 5px 15px;
    transition: 0.2s;
}

#hero-call-to-action-container a:hover {
    padding: 10px 30px;
}

#hero-call-to-action-container a:visited {
    color: #1F232B;
    text-decoration: none;
}

#explore {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explore a {
    margin: 0;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bolder;
    line-height: 36px;
    font-size: 18;
}

#explore svg {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#landing-bottom-arc {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#popular {
    height: 100%;
    background: #EEEEEE;
    margin-top: -1px;
}

.push {
    margin-left: auto;
}


/* Animations */
@keyframes bounce {
    
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -8px);
    }

    100% {
        transform: translate(0, 0);
    }
}