@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#hero {
    width: 100%;
    height: calc(100% - 100px);
    background: linear-gradient(180deg, #426DC4 0%, rgba(51, 139, 223, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content-container {
    width: 70%;
    display: inline-flex;
    justify-content: center;
    margin-top: -10%;
}

#hero-content-container p {
    margin: 0;
    padding: 0;
    font-size: 54px;
    line-height: 81px;
    color: white;
    font-weight: bold;
    margin-top: auto;
}

#hero-content-container a {
    margin-top: auto;
    margin-right: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    border: 3px solid white;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 5px 15px;
    transition: 0.2s;
}

#hero-content-container a:hover {
    padding: 10px 20px;
}

#hero-content-container a:visited {
    color: white;
    text-decoration: none;
}

#hero-filler-svgs {
    position: absolute;
    padding-top: 10px;
    bottom: 0px;
    width: 90%;
    display: flex;
}

#hero-cloud {
    position: absolute;
    top: 22%;
    left: 52%;
}

.hero-svg {
    margin-top: auto;
}

.hero-svg:nth-child(1) {
    margin-left: 30px;
}

.hero-svg:nth-child(2) {
    margin-left: 30%;
}

.hero-svg:nth-child(3) {
    margin-left: auto;
    margin-right: 15px;
}

#explore {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: float;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

#explore a {
    margin: 0;
    text-decoration: none;
    font-weight: bolder;
    line-height: 36px;
    font-size: 18;
}

#popular {
    height: 100%;
}




/* Animations */
@keyframes float {
    
    0% {
        transform: translate(-50%, 0);
    }

    7.5% {
        transform: translate(-50%, -20px);
    }

    15% { 
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}