.container{
    display: flex; 
    justify-content: center;  
}

.add-movie-container, .delete-movie-container{
    width: 30%; 
    padding: 30px; 
}

h1{
    color: #E83338;
    text-align: center; 
}

.container input[type=text], input[type=submit], input[type=decimal], input[type=number], select, textarea{
    width: 100%; 
    padding: 14px 10px;  
    margin: 12px 0; 
    font-size: 20px; 
    border-radius: 10px; 
}

input[type=submit]{
    color: white; 
    background-color: #1d1d1d;
    font-family: 'Poppins', sans-serif;
}

.message-container{
    font-size: 20pt; 
    text-align: center; 
    color: green;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
}

input[type=file]{
    font-size: 20px; 
}
