.container{
    display: flex; 
    justify-content: center;  
}

.add-movie-container, .delete-movie-container{
    width: 30%; 
    padding: 30px; 
}

h1{
    color: #E83338;
    text-align: center; 
}

input[type=text], input[type=submit], input[type=decimal], input[type=number], select, textarea{
    width: 100%; 
    padding: 14px 12px;  
    margin: 12px 0; 
    font-size: 20px; 
    border-radius: 10px; 
}

input[type=submit]{
    background-color: lightgrey;
}

.message{
    font-size: 20pt; 
    text-align: center; 
    color: yellow;
    background-color: lightgray; 
}

input[type=file]{
    clear: both; 
    font-size: 20px; 
}