#all-movies {
    background: #EEEEEE;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 100px;
}

#all-movies-content {
    width: 95%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#filters {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#filters-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    color: #1D1D1D;
    font-size: 22;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.2s;
    border-radius: 10px 10px 0 0;
}

#filters-toggle:hover {
    background: #F4F4F4;
    cursor: pointer;
}

#filters-toggle p {
    margin: 0;
    padding: 0;
}

#filters-toggle span, #filters-toggle p {
    padding-left: 15px;
    padding-right: 15px;
}

#filters-toggle span {
    font-size: 12;
    color: #616161;
}

#filters-container {
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

#filter-svg {
    transition: 0.5s;
}

#sorts {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 18;
    color: #1d1d1d;
    font-weight: bold;
    border-top: 5px solid #1F232B;
}

.closed {
    height: 0 !important;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0s;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

label[for="order"] {
    margin-left: 20px;
    display: none;
}

#order {
    display: none;
}

select {
    margin-left: 10px;
    color: #1D1D1D;
    background: unset;
    border: 3px solid #1D1D1D;
    padding: 2px 3px;
    font-size: 100%;
    font-weight: bold;
}

select:focus {
    outline: none;
}

option {
    color: #1D1D1D;
    font-size: 100%;
    font-weight: bold;
}