@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold,extrabold,semibold,500');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

#navigation {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #1F232B 0%, #283041 100%);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navigation-content-container {
    width: 95%;
    display: flex;
    align-items: center;
}

#navigation-content-container a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20;
    color: white;
    margin-left: 100px;
    padding: 0 15px;
    transition: 50ms;
}

#navigation-content-container a:visited {
    text-decoration: none;
}

#navigation-content-container a:hover {
    border-bottom: 3px solid white;
}

#search-container {
    margin-left: auto;
    padding-bottom: 5px;
    border-bottom: 5px solid white;
}

.search {
    display: inline;
}

.search input {
    font-size: 20;
    width: 400px;
    color: white;
    font-weight: bold;
    background: unset;
    border: unset;
}

.search input:focus {
    outline: none;
}

.search input:focus::placeholder {
    color: transparent;
}

.search input::placeholder {
    font-size: 20;
    font-weight: bold;
    color: white;
    opacity: 1;
    font-family: 'Poppins';
}

#login-toggle {
    position: absolute;
    right: 5px;
    top: 5px;
}

#login-toggle svg:hover {
    cursor: pointer;
}

#login-container {
    position: absolute;
    width: 736px;
    height: 472px;
    top: -600px;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
    transition: 0.4s;
    border: 10px solid #1F232B;
    box-sizing: border-box;
    box-shadow: 18px 20px 27px 4px rgba(0, 0, 0, 0.72);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#login-container form {
    width: 80%;
    height: 80%;
    margin-top: 20%;
}

#login-container form button {
    font-size: 100%;
    border: none;
    padding: 15px;
    width: 100%;
    transition: 0.1s;
}

#login-container form input,
#login-container form textarea,
.StripeElement {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: 1px solid lightgrey;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#login-container form input,
#login-container form textarea,
.StripeElement {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 1em;
}

#login-container form input:focus {
    outline: none;
    background: lightgrey;
}

#login-container form [type="text"],
.StripeElement {
    width: 100%;
}

#login-container form [type="button"],
#login-container form [type="submit"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
#login-container form [type="button"]:focus,
#login-container form [type="submit"]:focus {
    outline: none;
}

#login-container form button:hover {
    cursor: pointer;
    background: grey;
    color: white;
}

@media only screen and (max-width: 800px) {
    #login-container {
        width: 90% !important;
    }
}